.promo {
  min-height: 70vh;
  background-color: #d0cfcd;
  color: #353535;
  padding-bottom: 5rem;

  @media only screen and (max-width: 650px) {
    min-height: 85vh;
  }
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 6.4rem;
  text-align: center;
  max-width: 60.5rem;
  margin: 15rem 0 5rem;
  line-height: 8rem;

  @media only screen and (max-width: 650px) {
    font-size: 4.4rem;
    margin: 10rem 0 5rem;
  }
}

.wide_title {
  max-width: 100%;
  width: 100%;
  color: #fff;
}

.subtitle {
  margin-bottom: 11.2rem;
  font-size: 2.4rem;
  line-height: 4rem;
  font-weight: bold;
  max-width: 70rem;
  @media only screen and (max-width: 650px) {
    margin-bottom: 8rem;
  }
}
