.products {
  margin-top: 10rem;
}

.products_nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media only screen and (max-width: 820px) {
    flex-direction: column;
  }
}

.sort_products {
  display: none;
}

.sort {
  list-style: none;
  display: flex;

  font-size: 1.6rem;
  padding-right: 1rem;
  color: #151515;

  padding: 0;
  margin-top: 15px;

  @media only screen and (max-width: 820px) {
    margin-bottom: 2rem;
  }
  @media only screen and (max-width: 550px) {
    flex-direction: column;
    align-items: baseline;
  }
}

.sort_btn:not(:last-child) {
  margin-right: 3rem;
  @media only screen and (max-width: 550px) {
    margin-bottom: 1rem;
  }
}

.sort_btn {
  border: none;
  background-color: transparent;
  font-size: 1.6rem;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.headings {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  @media only screen and (max-width: 820px) {
    flex-direction: column;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  list-style-type: none;
  margin-bottom: 13.5rem;

  @media only screen and (max-width: 980px) {
    gap: 3rem;
  }
  @media only screen and (max-width: 820px) {
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    row-gap: 4rem;
  }
}
